html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Quicksand, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.screen-reader {
  font-size: 0;
}

.category {
  text-decoration: none;
  color: $text_color;
  background-color: #f1f3f6;
  padding: 5px 17px;
  border-radius: 40px;
  transition: all .2s;

  &--active {
    background-color: $blue;
    color: #ffffff;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $blue;
    color: #ffffff;
  }

  &:active {
    border: 1px solid $blue;
    background-color: #ffffff;
    color: $blue;
  }
}