@import "fonts";
@import "vars";
@import "global";

.counter {
  position: absolute;
  min-width: 22px;
  top: -16px;
  left: 15px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 11px;
}

.header {

  &__top-menu {
    background-color: #eef1f3;
  }

  &__link {
    text-decoration: none;
    color: $darc-grey_color;
    position: relative;
    transition: all .4s;

    &:hover {
      color: $blue;
    }

    &:active {
      color: #000000;
    }
  }

  &__button {
    border: none;
    background-color: transparent;

    &:active {
      box-shadow: inset 0 0 10px 2px #b9b9b9;
    }

    &:hover {
      color: $blue;
    }

    &--messege {
      position: relative;

      &:hover .dropdown--messege {
        max-height: 600px;
      }
    }

    &--alarm {
      position: relative;

      &:hover .dropdown--alarm {
        max-height: 600px;
      }
    }

    &--cart {
      position: relative;

      &:hover .dropdown--cart {
        max-height: 600px;
      }
    }
  }

  .top-menu {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;

    &__logo {
      background-size: cover;
      min-width: 200px;
      height: 50px;
    }

    &__content {
      display: flex;
      height: 100%;
    }

    &__link {
      display: flex;
      font-size: 14px;
      align-items: center;
      padding: 0 20px;
      height: 35px;
      margin-top: 5px;
      background-color: $blue;
      color: #ffffff;
      border-radius: 40px;
      margin-right: 50px;
      cursor: pointer;
      transition: all .4s;

      &:active {
        box-shadow: inset 0 0 10px 2px #b9b9b9;
      }

      &:hover {
        color: $blue;
        background-color: #ffffff;
        border: 1px solid $blue;
      }
    }

    &__icons-list {
      display: flex;
      align-items: center;
      margin-right: 20px;
      list-style: none;
      padding: 0;
    }

    &__icons-item {
      margin-right: 30PX;

      &:hover .top-menu__icon {
        @keyframes alarm {
          33% {
            transform: rotate(-40deg)
          }

          66% {
            transform: rotate(40deg)
          }

          100% {
            transform: rotate(0)
          }
        }

        animation-duration: 1s;
        animation-name: alarm
      }
    }

    &__icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

    &__counter-cart {
      padding: 3px 10px;
      left: 19px;
      background-color: $blue;
    }

    &__counter-messege {
      padding: 3px 10px;
      background-color: #62d03b;
    }

    &__counter-alarm {
      padding: 3px 5px;
      background-color: #ff6a6c;
    }

    &__user-image {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background-color: #000000;
      margin-right: 20px;
    }

    &__user-info {
      display: flex;
      max-width: 200px;
      position: relative;

      &:hover .dropdown--user {
        max-height: 900px;
      }
    }

    &__user-namebal {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &__user-name {
      max-width: 100px;
      font-weight: 500;
      margin: 5px 0;
    }

    &__balance-link {
      text-decoration: none;
      color: $blue;
      transition: all .2s;

      &:hover {
        border-bottom: 2px solid $blue;
      }

      &:active {
        color: $darc-grey_color;
        border-bottom: none;
      }

      &:focus {
        border-bottom: 2px solid $blue;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    font-size: 14px;

    &__list {
      display: flex;
      list-style: none;
      padding: 0;
    }

    &__item {
      margin-right: 43px;
      text-transform: uppercase;
      font-weight: 700;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      transition: all .4s;
      text-decoration: none;
      color: $darc-grey_color;
      height: 18px;

      &:hover {
        color: $blue;
      }

      &:active {
        transition: none;
        border-bottom: 3px solid $blue;
      }

      &:focus {
        border-bottom: 3px solid $blue;
        color: $blue;
      }
    }

    &__form {
      position: relative;
    }

    &__input {
      height: 44px;
      width: 360px;
      border-radius: 40px;
      border: 1px solid #b9b9b9;
      padding-left: 25px;
      padding-right: 75px;
      font-size: 15px;

      &:focus {
        outline: none;
        border-color: $blue;
      }
    }

    &__img {
      color: #ffffff;
    }

    &__submit {
      position: absolute;
      width: 70px;
      height: 44px;
      border-radius: 40px;
      background-color: $blue;
      border: none;
      right: 0;
      top: 0;
      transition: all .4s;
      cursor: pointer;

      &:active {
        box-shadow: inset 0 0 10px 2px #b9b9b9;
      }

      &:focus {
        outline: transparent;
      }

      &:hover {
        background-color: #ffffff;
        border: 1px solid $blue;

        .menu__img {
          color: $blue;
        }
      }
    }
  }
}

.preview {
  background-color: #284bcd;
  color: #ffffff;
  margin-bottom: 185px;

  &__inner {
    min-height: 725px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 171px;
    position: relative;
  }

  &__h2 {
    font-size: 60px;
  }

  &__h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 68px;
  }

  &__link {
    padding: 18px 30px;
    margin-right: 40px;
    border: 1px solid #ffffff;

    &:last-child {
      margin-right: 0;
    }

    &:active {
      box-shadow: inset 0 0 10px 2px #b9b9b9;
    }

    &:hover {
      color: $blue;
      background-color: #ffffff;
      border: 1px solid $blue;
    }

    &:focus {
      border: 3px solid $blue;
      padding: 17px 28px;
      outline: none;
    }
  }

  &__search-inner {
    padding: 0 35px;
    width: 100%;
    display: flex;
  }

  &__search-bg1 {
    position: absolute;
    bottom: -57px;
    width: 97%;
    margin: 0 15px;
    background-color: #ffffff;
    min-height: 135px;
    border-radius: 6px;
    opacity: .5;
  }


  &__search-bg2 {
    position: absolute;
    bottom: -43px;
    width: 94%;
    margin: 0 30px;
    background-color: #ffffff;
    min-height: 135px;
    border-radius: 6px;
    opacity: .5;
  }

  &__search {
    position: absolute;
    bottom: -70px;
    width: 100%;
    background-color: #ffffff;
    min-height: 135px;
    border-radius: 6px;
    box-shadow: 0 0 10px 2px #b9b9b9;
    display: flex;
    align-items: center;
  }

  &__search-text {
    height: 55px;
    width: 610px;
    border: 1px solid #b9b9b9;
    border-radius: 5px 0 0 5px;
    padding-left: 30px;

    &:focus {
      outline: none;
      border-color: $blue;
    }
  }

  &__search-container {
    position: relative;
    width: fit-content;

    &::before {
      content: "\e874";
      font-family: "Linearicons-free";
      color: #000000;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 35%;
      right: 23%;
    }
  }

  &__search-select {
    height: 55px;
    width: 192px;
    border: 1px solid #b9b9b9;
    margin-right: 30px;
    border-radius: 0 5px 5px 0;
    padding-left: 20px;
    appearance: none;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: $blue;
    }
  }

  &__search-submit {
    background-color: $blue;
    width: 225px;
    height: 55px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    transition: all .4s;
    cursor: pointer;

    &:active {
      box-shadow: inset 0 0 10px 2px #b9b9b9;
    }

    &:hover {
      color: $blue;
      background-color: #ffffff;
      border: 1px solid $blue;
    }

    &:focus {
      outline: none;
      border: 1px solid $blue;
      background-color: transparent;
      color: $blue;
    }
  }
}

.works {
  margin-bottom: 115px;

  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 40px 40px;
    min-width: 360px;
    min-height: 400px;
    transition: all .4s;

    &:hover {
      box-shadow: 0 0 50px 2px #d3d3d3;
    }
  }

  &__img {
    margin-bottom: 32px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
  }

  &__text {
    color: #000000;
    text-align: center;
    line-height: 30px;
  }
}

.products-slider {
  padding-top: 120px;
  padding-bottom: 127px;
  background-color: $content-bg;

  &__header {
    background-color: #ffffff;
    align-items: center;
    min-height: 110px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    box-shadow: 0 0 50px 2px #d3d3d3;
    border-radius: 4px;
  }


  &__title {
    font-size: 30px;
    line-height: 28px;
  }

  &__arrows {
    display: flex;
    background-color: #7347c1;
    width: 110px;
    height: 45px;
    border-radius: 40px;
    align-items: center;
    justify-content: space-around;
  }


  &__arrows-next,
  &__arrows-prev {
    background-color: transparent;
    position: relative;
    color: #ffffff;
    border: none;
    width: 50%;
    height: 100%;
    cursor: pointer;

    &:focus {
      font-size: 22px;
      outline: none
    }

    &:hover .products-slider__arrow-hover {
      transition: all .2s;
      font-size: 22px;
    }

    &:active .products-slider__arrow-hover {
      transition: all .2s;
      font-size: 14px;
    }
  }
}

.slider {
  &__inner {
    border-radius: 4px;
    min-height: 450px;
    overflow: hidden;
  }

  &__translatex {
    display: flex;
    align-items: flex-start;
    transition: all .4s;
  }

  &__item {
    max-width: 1170px;
    border-radius: 4px;
    display: flex;
  }

  &__image-hover {
    z-index: 3;
    background: linear-gradient(to right, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .4s;
  }

  &__image-more,
  &__image-live {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 40px;
    padding: 12px 25px;
    margin-right: 20px;
    text-decoration: none;
    min-width: 130px;
    text-align: center;
    transition: all .4s;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #ffffff;
      color: $blue;
    }

    &:active {
      box-shadow: inset 0 0 10px 2px #b9b9b9;
    }
  }

  &__image-container {
    min-width: 50%;
    display: flex;
  }

  &__image {
    background-position: center;
    border-radius: 0 0 0 4px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    transition: all .4s;
  }

  &__seller-imagetype {
    margin-right: 10px;
  }

  &__description {
    min-width: 50%;
    background-color: #ffffff;
    padding: 46px;
    padding-bottom: 25px;
    border-radius: 0 0 4px 0
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__seller-description {
    margin-bottom: 30px;
    max-height: none;
    min-height: 120px;
  }

  &__tags {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    min-height: 38px;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  &__tag {
    margin-right: 7px;
    margin-bottom: 7px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b9b9b9;
    padding-top: 25px;
  }

  &__statistic {
    display: flex;
    font-size: 15px;
    align-items: inherit;
  }

  &__statistic-price {
    margin-right: 45px;
    background-color: $blue;
    padding: 8px 17px;
    border-radius: 40px;
    color: #ffffff;
  }

  &__statistic-likes {
    font-weight: 700;
    margin-right: 45px;
    color: $purple;
    border: none;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;

    &:focus {
      color: red;
      outline: none;
    }

    &:hover {
      color: red;
      font-size: 20px;
      margin-right: 38px;
    }

    &:active {
      font-size: 14px;
    }
  }

  &__statistic-likescounter {
    font-weight: 500;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    margin-left: 5px;
  }

  &__statistic-buys {
    font-weight: 500;
    color: $blue;
    border: none;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;

    &:focus {
      color: green;
      outline: none;
    }

    &:hover {
      color: green;
      font-size: 20px;
    }

    &:active {
      font-size: 14px;
    }
  }

  &__statistic-buyscounter {
    font-weight: 500;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    margin-left: 5px;
  }

  &__raiting {
    display: flex;
  }

  &__raiting-link {
    text-decoration: none;
    color: #000000;
  }

}

.products {
  padding-top: 120px;
  background-color: #f6f7fb;

  &__header {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    align-items: center;
    min-height: 110px;
    background-color: #ffffff;
    margin-bottom: 30px;
  }

  &__header-title {
    font-size: 30px;
  }

  &__header-filter {
    padding-right: 30px;
    position: relative;
    color: #747b86;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../images/products-filter.svg);
      height: 20px;
      width: 5px;
    }

    &:focus {
      outline: none;
    }

    &:hover .release-filter__list-container {
      max-height: 600px;
      padding-top: 10px;
      padding-bottom: 10px;
      z-index: 1;
    }
  }

  &__categories-item {
    margin-right: 10px;
    transition: all .4s;
  }

  &__categories-list {
    border-radius: 4px;
    background-color: #ffffff;
    min-height: 90px;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
  }

  &__category-button {
    border: none;
    cursor: pointer;
  }

  &__container {
    padding-top: 53px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    min-height: 613px;
  }


  &__item {
    margin-bottom: 30px;
    min-height: 530px;
    max-width: 360px;
    min-width: 360px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 20px;
  }

  &__link-container {
    display: flex;
    justify-content: center;
  }

  &__link-show {
    background-color: $blue;
    margin-bottom: 120px;

    &:active {
      box-shadow: inset 0 0 10px 2px #b9b9b9;
    }

    &:hover {
      color: $blue;
      background-color: #ffffff;
      border: 1px solid $blue;
    }

    &:focus {
      outline: none;
    }
  }
}

.item {

  transition: all .2s;

  &__image-container {
    height: 230px;
    position: relative;
  }

  &__image-newest {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
    transition: all .4s;
  }

  &__hover {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    background: linear-gradient(to right, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .4s;
  }

  &__more,
  &__live {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 40px;
    padding: 16px 30px;
    margin-right: 20px;
    text-decoration: none;
    transition: all .4s;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #ffffff;
      color: $blue;
    }

    &:active {
      box-shadow: inset 0 0 10px 2px #b9b9b9;
    }
  }

  &__description {
    align-items: center;
    margin-bottom: 26px;
    padding: 25px 30px 0 38px;
  }

  &__description-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__description-person {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__description-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 10px;
  }

  &__description-name {
    margin-right: 30px;
    display: flex;
    align-items: center;
    transition: all .4s;

    &:hover {
      color: $purple;
    }

    &:active {
      color: #000000;
    }

    &:focus {
      color: $purple;
    }
  }

  &__description-type {
    position: relative;
    color: $purple;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: all .4s;

    &:hover {
      color: #000000;
    }

    &:active {
      color: $purple;
    }

    &:focus {
      color: #000000;
    }
  }

  &__description-imagetype {
    margin-right: 10px;
  }

  &__seller-description {
    color: $darc-grey_color;
    line-height: 30px;
    max-height: 90px;
    overflow: hidden;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b9b9b9;
    padding: 15px 30px;
  }

  &__statistic {
    display: flex;
    align-items: center;
  }

  &__statistic-price {
    margin-right: 15px;
    background-color: #e6f1fd;
    color: $blue;
    padding: 10px 17px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
  }


  &__statistic-likes {
    font-weight: 700;
    margin-right: 15px;
    width: 46px;
    color: $purple;
    border: none;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;

    &:focus {
      color: red;
      outline: none;
    }

    &:hover {
      color: red;
      font-size: 20px;
    }

    &:active {
      font-size: 14px;
    }
  }

  &__statistic-buys {
    font-weight: 500;
    color: $blue;
    border: none;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      color: green;
      font-size: 20px;
    }

    &:active {
      font-size: 14px;
    }

    &:focus {
      color: green;
      outline: none;
    }
  }
}

.nothing-find {
  width: 100%;
  height: 100px;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  text-align: center;
  display: none;
  margin-top: 50px;
}

.release-filter {

  &__list-container {
    position: absolute;
    min-width: 183px;
    overflow: hidden;
    max-height: 0;
    transition: all .4s;
    padding: 0 10px;
    top: 30px;
  }

  &__list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 6px 2px #b9b9b9;
    min-width: 180px;

    &:before {
      content: "";
      position: absolute;
      border: 10px solid transparent;
      border-bottom: 20px solid #ffffff;
      width: 10px;
      top: -30px;
      right: 45%;
    }
  }

  &__button {
    border: none;
    font-size: 14px;
    text-align: left;
    transition: all .2s;
    background-color: #ffffff;
    width: 100%;
    cursor: pointer;
    padding: 8px 30px;


    &:hover {
      color: $blue;
    }

    &:active .release-filter__button {
      color: #ffffff;
      background-color: $blue;
    }

    &:focus {
      color: #ffffff;
      background-color: $blue;
      outline: none;
    }
  }
}

.followers-slider {
  background-color: $content-bg;
  padding: 120px 0 80px;
}

.test {
  display: none;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__leftinput,
  &__rightinput {
    width: 100%;
    pointer-events: none;
    background-color: transparent;
  }

  &__rightinput::-webkit-slider-thumb,
  &__leftinput::-webkit-slider-thumb {
    pointer-events: all;
  }

  &__rightinput {
    position: absolute;
  }
}

.statistic {
  min-height: 350px;
  background-color: #212225;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
  }

  &__item {
    min-height: 160px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__image {
    font-size: 48px;
    margin-bottom: 40px;
  }

  &__figure {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
  }

  &__text {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  }
}

.choose {
  padding: 112px 0 90px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 0;
    width: 360px;
    min-height: 375px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    transition: all .4s;

    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.4);
    }
  }

  &__image {
    font-size: 60px;
    color: $blue;
    margin-bottom: 40px;
  }

  &__number {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #e0e8fe;
    font-size: 48px;
  }

  &__description-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__description-text {
    color: $darc-grey_color;
    line-height: 30px;
    text-align: center;
  }
}

.shopping-sale {
  &__inner {
    min-height: 560px;
    display: flex;
    justify-content: space-between;
  }

  &__side {
    width: 50%;
    height: 560px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__side-content {
    max-width: 555px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
  }

  &__image {
    margin-bottom: 43px;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    margin-bottom: 40px;
    line-height: 30px;
  }

  &__link {
    background-color: #fff;
    color: $blue;

    &:active {
      box-shadow: inset 0 0 10px 2px #b9b9b9;
    }

    &--left {
      &:hover {
        color: #ffffff;
        background-color: $blue;
        border: 1px solid #ffffff;
      }

      &:focus {
        border: 3px solid $blue;
        padding: 18px;
        outline: none;
      }
    }

    &--right {
      color: $purple;

      &:hover {
        color: #ffffff;
        background-color: $purple;
        border: 1px solid #ffffff;
      }

      &:focus {
        border: 3px solid $purple;
        padding: 18px;
        outline: none;
      }
    }
  }
}

.feedback {
  padding: 115px 0 120px;

  &__review-list {
    display: flex;
    margin-bottom: 42px;
  }

  &__review-item {
    position: relative;
    padding: 50px 40px;
    min-height: 315px;
    min-width: 555px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-right: 30px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background-color: $blue;
    }
  }

  &__messege-image {
    position: absolute;
    color: #e8e8e8;
    right: 45px;
    top: 55px;
    font-size: 60px;
    transform: scale(1);
  }

  &__person {
    padding-right: 70px;
    display: flex;
    margin-bottom: 25px;
  }

  &__person-info {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__person-name {
    font-weight: 500;
    transition: all .3s;

    &:hover {
      color: $blue;
    }
  }

  &__person-profession {
    color: $text_color;
    transition: all .3s;

    &:hover {
      color: $blue;
    }
  }

  &__person-avatar {
    background-color: $text-color;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__text {
    line-height: 30px;
  }

  &__link-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    background-color: $blue;

    &:hover {
      background-color: #ffffff;
      border: 1px solid $blue;
      color: $blue;
    }

    &:active {
      background-color: #ffffff;
      color: $blue;
    }

    &:focus {
      outline: none;
      border: 3px solid $blue;
    }
  }
}

.news {
  background-color: $content-bg;
  padding: 106px 0 120px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    background-color: #ffffff;
    max-width: 360px;
  }

  &__date-container {
    color: $blue;
    height: 40px;
    border-right: 1px solid #b9b9b9;
    display: flex;
    align-items: center;
    width: 50%;
  }

  &__date {
    font-family: Quicksand, sans-serif;
    margin-left: 10px;
    color: #999999;
  }

  &__statistic {
    display: flex;
  }

  &__button {
    border: none;
    background-color: transparent;
    display: flex;
    color: #999999;
    transition: all .3s;

    &--comments {
      margin-right: 15px;
    }

    &:hover {
      color: $blue;

      .news__counter {
        color: $blue;
      }
    }

    &:focus {
      outline: none;
      color: $blue;

      .news__counter {
        color: $blue;
      }
    }

    &:active {
      color: #999999;

      .news__counter {
        color: #999999;
      }
    }
  }

  &__counter {
    color: #999999;
    margin-left: 5px;
    font-family: Quicksand, sans-serif;
  }

  .item__more {
    margin-right: 0;
  }
}

.join {

  &__benefits {
    display: flex;
  }

  &__support-inner,
  &__guarantee-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__guarantee {
    width: 50%;
    min-height: 300px;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid #e0e8fe;
    padding: 56px 135px 56px 0;
  }

  &__support {
    width: 50%;
    min-height: 300px;
    padding: 56px 0 56px 135px;
    display: flex;
    justify-content: flex-start;
  }

  &__text {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
  }

  &__text-guarantee {
    color: $blue;
  }

  &__text-support {
    color: $purple;
  }

  &__ready {
    background: linear-gradient(to left, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
    min-height: 400px;
    padding: 100px 0;
  }

  &__ready-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }

  &__link {
    color: $blue;
    background-color: #ffffff;

    &:hover {
      color: #ffffff;
      background-color: $blue;
    }

    &:focus {
      outline: none;
      padding: 17px 42px;
      border: 3px solid #ffffff;
    }

    &:active {
      box-shadow: inset 0 0 10px 2px #b9b9b9;
    }
  }
}

.footer {
  background-color: #262b30;
  padding-top: 112px;
  color: #ababab;
  line-height: 28px;
  font-size: 15px;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }

  &__item-market {
    max-width: 265px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__company-link,
  &__help-link {
    transition: all .3s;

    &:hover {
      color: $blue;
    }

    &:active {
      color: #ababab;
    }
  }

  &__link {
    font-weight: 500;
    transition: all .3s;

    &:hover {
      color: $blue;
    }

    &:active {
      color: #ababab;
    }
  }

  .lnr {
    margin-right: 10px;
  }

  &__title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 12px;
  }

  &__company-list {
    list-style: none;
    padding: 0;
  }

  &__company-item,
  &__help-item {
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__item-newsletter {
    width: 365px;
  }

  &__form {
    position: relative;
    margin-bottom: 45px;
  }

  &__input {
    height: 50px;
    width: 360px;
    border-radius: 40px;
    padding-right: 110px;
    padding-left: 30px;
    border: none;
    border: 1px solid #b9b9b9;
    transition: all .3s;

    &:focus {
      outline: none;
      border: 1px solid $blue;
    }
  }

  &__submit {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 110px;
    background-color: $blue;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    transition: all .3s;

    &:hover {
      background-color: #ffffff;
      border: 1px solid $blue;
      color: $blue;
    }

    &:focus {
      outline: none;
      border: 1px solid $blue;
    }
  }

  &__social-list {
    display: flex;
  }

  &__social-item {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__social-link {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    transition: all .3s;

    &:hover {
      height: 52px;
      width: 52px;
    }

    &:active {
      height: 42px;
      width: 42px;
    }
  }

  &__bottom {
    height: 95px;
    background-color: #192027;

    .link {
      color: #ffffff;
      transition: all .3s;

      &:hover {
        color: $blue;
      }

      &:active {
        color: #ffffff;
      }
    }
  }

  &__bottom-container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dropdown {
  color: #54667a;
  overflow: hidden;
  position: absolute;
  max-height: 0;
  z-index: 1;
  transition: all .6s;

  &::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid $blue;
    width: 10px;
    left: 6%;
    top: -10px;
    right: 0;
  }

  &--user {
    width: 270px;
    top: 63px;
    left: 0;
  }

  &--alarm,
  &--messege {
    width: 370px;
    top: 48px;
    left: 0;

    &::after {
      left: 0;
    }
  }

  &--cart {
    width: 400px;
    top: 47px;
    right: 0;

    &::after {
      left: auto;
    }
  }

  &__link {
    transition: all .3s;

    &:hover {
      color: $blue;
    }

    &:active {
      color: $darc-grey_color;
    }
  }

  &__inner {
    padding: 20px;
    background-color: #ffffff;
    border-top: 2px solid $blue;
    margin-top: 10px;

    .lnr::before {
      font-family: "Linearicons-free";
      margin-right: 15px;
    }

    &--cart {
      padding: 0;
    }
  }

  &__user-item {
    padding: 15px;
    padding-left: 25px;
    font-size: 15px;
    transition: all .3s;
    border-radius: 3px;
    display: flex;
    font-family: Quicksand, sans-serif;

    &:hover {
      background-color: $blue;
      color: #ffffff;
    }

    &:active {
      background-color: #ffffff;
      color: $blue;
    }
  }

  &__header {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 25px;
    border-bottom: 1px solid #e0e8fe;
  }

  &__title {
    font-size: 18px;
  }

  &__alarm-information {
    text-align: left;
  }

  &__alarm-item {
    border-bottom: 1px solid #ccced4;
    font-size: 15px;

    .link {
      width: 100%;
      padding: 10px 0;
      transition: all .3s;

      &:hover {
        background: linear-gradient(to right, #ffffff 0%, #e7e7e7 30%, #e7e7e7 70%, #ffffff 100%);
      }

      &:active {
        background: none;
      }
    }
  }

  &__alarm-inner {
    display: flex;
    justify-content: space-between;
  }

  &__alarm-name {
    display: flex;
    color: $darc-grey_color;
    font-weight: 500;
  }

  &__alarm-type {
    color: #747a86;
    margin-left: 5px;
    font-weight: 400;
  }

  &__alarm-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
  }

  &__imagetype {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: center;
    transition: all .3s;

    [class^="lnr lnr-"] {
      display: flex;
      justify-content: center;

      &::before {
        margin-right: 0;
        margin-top: 7px;
        font-weight: 700;
      }
    }

    &--trash {
      color: #88929e;
      background-color: #f1ecf9;
    }
  }

  &__alarm-text {
    color: $blue;
    margin: 10px 0;
    font-weight: 500;
  }

  &__alarm-time {
    font-size: 14px;
  }

  &__cart-title {
    font-weight: 500;
    text-align: left;
  }

  &__cart-producttype {
    text-align: left;
  }

  &__cart-item {
    border-bottom: 1px solid #ccced4;
    padding: 25px;
    display: flex;
  }

  &__cart-image {
    width: 70px;
    height: 70px;
    background-color: #000000;
    margin-right: 15px;
  }

  &__cart-links {
    display: flex;
  }

  &__cart-link {
    transition: all .3s;
    cursor: pointer;

    &--cart {
      &:hover {
        background-color: #ffffff;
        color: $purple;
        border: 1px solid $purple;
      }
    }

    &--checkout {
      &:hover {
        background-color: #ffffff;
        color: $blue;
        border: 1px solid $blue;
      }
    }
  }

  &__cart-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__cart-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    font-weight: 700;
    font-size: 18px;
  }

  &__cart-totalprice {
    margin-left: 30px;
  }

  &__cart-link {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    &--cart {
      background-color: $purple;
    }

    &--checkout {
      background-color: $blue;
    }
  }

  &__cart-producttype {
    position: relative;
    color: $purple;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: all .4s;

    &:hover {
      color: #000000;
    }

    &:active {
      color: $purple;
    }

    &:focus {
      color: #000000;
    }
  }

  &__cart-imagetype {
    margin-right: 5px;
  }

  &__cart-productlink {
    display: flex;
  }

  &__cart-remove {
    background-color: transparent;
    border: none;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      .dropdown__imagetype {
        background-color: red;
        color: #ffffff;
      }
    }

    &:focus {
      outline: none;

      .dropdown__imagetype {
        color: #ffffff;
        background-color: red;
      }
    }

    &:active {

      .dropdown__imagetype {
        color: #88929e;
        background-color: #f1ecf9;
      }
    }
  }

  &__messege-item {
    font-size: 15px;
    display: flex;
    padding: 20px 0;
    height: 80px;
    border-bottom: 1px solid #f1ecf9;
  }

  &__messege-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 15px;
  }

  &__messege-info {
    display: flex;
    justify-content: space-between;
  }

  &__messege-name {
    font-weight: 500;
    display: flex;
  }

  &__messege-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__messege-icon {
    margin-left: 15px;
    font-weight: 700;
    background-position: center;
    background-size: cover;
    height: 15px;
    width: 20px;

    &--new {
      color: $blue;
    }
  }

  &__messege-time--new {
    color: $blue;
  }

  &__messege-text {
    max-height: 20px;
    overflow: hidden;
  }
}